
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .container{
        @apply mx-auto max-w-full  px-3  sm:max-w-[540px]  md:max-w-[720px]  lg:max-w-[960px] xl:max-w-[1170px];
    }
    .leadinng auto{
        @apply leading-normal
    }
    /*using arbitary values; line-height-normal equivalent of figma line-height:auto  */
}


/* 
    #logo:hover{
        transform: translate(10px ,-10px);
        text-decoration: underline;
        transition-property: all;
        transition-duration: .5s;} 
*/
/* @media(min-width:768px) {
    #box{
        background-color:red
    }
    
} */

/* *{
    background-color: rgba(255, 0, 0, 0.05);
} */